body {
	background-color: #FBEFD5;
	font-family: sans-serif;
	font-size: 13px;
}

a.eso_functionlink {
	text-decoration: none;
}

a.eso_functionlink:hover {
	background: #ccc;
}

a.eso_filelink {
	text-decoration: none;
}

a.eso_filelink:hover {
	background: #ccc;
}

.eso_functionlink {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	display: inline;
}

.eso_filelink {
	display: inline;
	font-family: "Courier New", Courier, monospace !important;
	font-weight: bold;
	font-size: 0.9em;
}

.eso_footer {
	font-size: 0.9em;
	font-style: italic;
	color: #666;
}

h1 {
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

h2 {
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

h3 {
	border-bottom: solid 1px #aaa;
	margin-bottom: 0.1em;
}

[tooltip]:hover:before {            
    position : absolute;
    content : attr(tooltip);
	background: #ffff99;
	color: black;
	border: 1px solid gray;
	font-size: 1em;
	margin: -18px 0 0 -10px;
	padding: 0px 2px 0px 2px;
	height: 1.2em;
	overflow: hidden;
}

[tooltip]:hover:after {
	content: '';
	margin: 0;
	width: 0;
	height: 0;
}

#eso_search {
	width: 350px;
	float: right;
	position: absolute;
	right: 2px;
	top: 2px;
}

.gsc-control-cse {
	border-color: #FBEFD5 !important;
	background-color: #FBEFD5 !important;
}