.esofn_footer, .eso_footer {
	font-size: 0.9em;
	font-style: italic;
	color: #666;
}

h1 {
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

h2 {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	color: blue;
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

.eso_functionlink {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	display: inline;
}

.eso_filelink {
	display: inline;
	font-family: "Courier New", Courier, monospace !important;
	font-weight: bold;
	font-size: 0.9em;
}

h3 {
	border-bottom: solid 1px #aaa;
	margin-bottom: 0.1em;
}

a.eso_functionlink {
	text-decoration: none;
}

a.eso_functionlink:hover {
	background: #ccc;
}

a.eso_filelink {
	text-decoration: none;
}

a.eso_filelink:hover {
	background: #ccc;
}

ul {
	margin-top: 0.5em;
}

.esofn_letters , .eosfn_letters  {
	font-family: "Arial", sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


.eosfn_letters   a {
	padding: 2px;
	min-width: 1.1em;
	vertical-align: top;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	display: inline-block;
	text-align: center;	
}

.eosfn_letters   a:hover {
	background: #777;
}

[tooltip]:hover:before {            
    position : absolute;
    content : attr(tooltip);
	background: #ffff99;
	color: black;
	border: 1px solid gray;
	font-size: 1em;
	margin: -18px 0 0 -10px;
	padding: 0px 2px 0px 2px;
	height: 1.2em;
	overflow: hidden;
}

[tooltip]:hover:after {
	content: '';
	margin: 0;
	width: 0;
	height: 0;
}