
.esog_section1, .esog_section2, .esog_section3, .esog_section4, .esog_section5, .esog_section6, .esog_section7, .esog_section8, .esog_section9 {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}

.esog_section1 {
	margin-left: 10px;
}

.esog_section2 {
	margin-left: 30px;
}

.esog_section3 {
	margin-left: 50px;
}

.esog_section4 {
	margin-left: 70px;
}

.esog_section5 {
	margin-left: 90px;
}

.esog_section6 {
	margin-left: 110px;
}

.esog_section7 {
	margin-left: 130px;
}

.esog_section8 {
	margin-left: 150px;
}

.esog_section9 {
	margin-left: 170px;
}

.esog_section1:hover {
	background-color: #ccc;
}

.esog_section2:hover {
	background-color: #d3d3d3;
}

.esog_section3:hover {
	background-color: #ddd;
}

.esog_section4:hover {
	background-color: #e4e4e4;
}

.esog_section5:hover .esog_section6:hover {
	background-color: #eee;
}

.esog_section6:hover  {
	background-color: #f5f5f5;
}

.esog_section7:hover, .esog_section8:hover, .esog_section9:hover {
	background-color: #fff;
}

.esog_private {
	color: #f00;
}

.esog_title {
}

a {
	text-decoration: none;
}

.esog_meta, .esog_index {
	font-size: 0.8em;
}

div .esog_meta, div .esog_index {
	display: inline-block;
}

.esog_number {
	color: #bb3333;
	display: inline-block;
}

.esog_string {
	color: #990099;
	display: inline-block;
}

.esog_function {
	color: #888888;
	font-weight: bold;
	display: inline-block;	
}

.esog_userdata, .esog_table {
	color: #888888;
	display: inline-block;	
}