#esolf_fileroot, #esolf_fileroot code {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-size: 0.85em;
}

#esolf_fileroot {
	margin-top: 0.8em;
}

.esolf_highlight {
	background: #ffff33;
}

a.esolf_pathlink {
	font-size: 0.8em;
	font-family: sans-serif;
	text-decoration: none;
}

.esolf_linenumbers {
	color: #999;
	vertical-align: top;
	text-align: right;
	padding: 1px;
	padding-right: 5px;
	border-right: solid #99ff99 5px;
}

.esolf_codelines {
	vertical-align: top;
	padding: 1px;
	padding-left: 5px;
	background-color: white;
}

.esolf_lineno {
	height: 1.2em;
}

.esolf_codeline {
	height: 1.2em;
}

.esolf_name, .esolf_keyword, .esolf_space, .esolf_table, .esolf_userdata, .esolf_string, .esolf_number, .esolf_none, .esolf_other, .esolf_operator, .esolf_comment  {
	display: inline;
}

.esolf_name:hover, .esolf_keyword:hover, .esolf_table:hover, .esolf_userdata:hover, .esolf_string:hover, .esolf_number:hover, .esolf_other:hover, .esolf_comment:hover {
	background-color: #ccc;
}

.esolf_keyword {
	font-weight: 600;
	color: #0000ff;
}

.esolf_string {
	color: #aa00aa;
}

.esolf_number {
	color: #bb3333;
}

.esolf_comment {
	color: #008200;
}

.esolf_operator {
	color: #000099;
	font-weight: 400;
}