.esold_list {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

.esold_list li {
	padding: 3px;
	list-style-type: none;
}

.esold_list li a {
	text-decoration: none;
}