
#esolf_fileroot, #esolf_fileroot code {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-size: 1em;
}

#esolf_fileroot {
	margin-top: 0.5em;
}

h2 {
	margin-bottom: 0.1em;
	margin-top: 0.3em;
}

a.esolf_pathlink {
	font-size: 0.8em;
	font-family: sans-serif;
	text-decoration: none;
}

.esolf_linenumbers {
	color: #999;
	vertical-align: top;
	text-align: right;
	padding: 1px;
	padding-right: 5px;
	border-right: solid #99ff99 5px;
}

.esolf_codelines {
	vertical-align: top;
	padding: 1px;
	padding-left: 5px;
}

.esolf_lineno {
	height: 1.2em;
}

.esolf_codeline {
	height: 1.2em;
}

.esolf_footer {
	font-size: 0.9em;
	font-style: italic;
	color: #666;
}

.esolf_name, .esolf_keyword, .esolf_space, .esolf_table, .esolf_userdata, .esolf_string, .esolf_number, .esolf_none, .esolf_other, .esolf_operator, .esolf_comment  {
	display: inline;
}

.esolf_name:hover, .esolf_keyword:hover, .esolf_table:hover, .esolf_userdata:hover, .esolf_string:hover, .esolf_number:hover, .esolf_other:hover, .esolf_comment:hover {
	background-color: #ccc;
}

[tooltip]:hover:before {            
    position : absolute;
    content : attr(tooltip);
	background: #ffff99;
	color: black;
	border: 1px solid gray;
	font-size: 1em;
	margin: -16px 0 0 16px;
	padding: 0px 2px 0px 2px;
	height: 1.2em;
	overflow: hidden;
}

[tooltip]:hover:after {
	content: '';
	margin: 0;
	width: 0;
	height: 0;
}

.esolf_keyword {
	font-weight: 600;
	color: #0000ff;
}

.esolf_string {
	color: #aa00aa;
}

.esolf_number {
	color: #bb3333;
}

.esolf_comment {
	color: #008200;
}

.esolf_operator {
	color: #000099;
	font-weight: 400;
}