.esofn_footer, .eso_footer {
	font-size: 0.9em;
	font-style: italic;
	color: #666;
}

h1 {
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

h2 {
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

.eso_functionlink {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	display: inline;
}

.eso_filelink {
	display: inline;
	font-family: "Courier New", Courier, monospace !important;
	font-weight: bold;
	font-size: 0.9em;
}

h3 {
	border-bottom: solid 1px #aaa;
	margin-bottom: 0.1em;
}

a.eso_functionlink {
	text-decoration: none;
}

a.eso_functionlink:hover {
	background: #ccc;
}

a.eso_filelink {
	text-decoration: none;
}

a.eso_filelink:hover {
	background: #ccc;
}

ul {
	margin-top: 0.5em;
}